<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>ConnectedEcos | News</title>
    <style>
        body {font-family: oxanium;
          background: linear-gradient(180deg, #000000 0%, #252525 100%);
          }
      * {box-sizing: border-box;}
 
      .bg-img {
        /* The image used */
        background-image: url("../Images/wildfire/fire-2.jpg");
        min-height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        /* Needed to position the navbar */
        position: relative;
      }
      .bg-img a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      /* Position the navbar container inside the image */
      .container {
        /* position: absolute; */
        margin: 20px;
        width: auto;
        
      }
      
      /* The navbar */
      .topnav {
        overflow: hidden;
        float: right;
      }
      
      /* Navbar links */
      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: black;
        border-radius: 5px;
      }
      #logo {
        float: left;
      }
      body {
      font-family: oxanium;
      margin: 0;
      padding: 0;
      
      color: white;
      }
      .dtcontainer {
      background-color: rgb(28, 28, 28,0.7);
      border: 1px solid #ffffff;
      padding: 10px;
      width: 550px;
      margin: 50px auto;
      text-align: center;
      border-radius: 0% 0% 15% 15%;
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
      gap: 0px;
  }
    .dtcontainer h1 {
        font-size: 24px;
        margin: 0;
        padding-bottom: 10px;
        opacity: 100%;
    }
    .dtcontainer .highlight {
        font-size: 36px;
        color: #48CFFB;
        opacity: 100%;
    }
    .dtcontainer p {
        font-size: 14px;
        line-height: 1.6;
        color: #ccc;
        padding: 10px 0;
        opacity: 100%;
    }

    .dtcontainer .button {
        background-color: #666;
        border: none;
        padding: 10px 20px;
        color: white;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        opacity: 100%;
    }

    .dtcontainer .button:hover {
        background-color: #48CFFB;
        opacity: 100%;
    }
   
    #aus h3 {
        text-align: justify;
        margin: 30px;
        padding: 0px 30px 0px 30px;
        padding-bottom: 5px;
    }
    #footer {
    background: linear-gradient(180deg, #002B48 0%, #34556D 100%);
  }

    </style>
</head>
<body>
    <section  id="banner">
        <div class="bg-img">
          <a href=""><img src="images/logo1.png" alt="logo" height="80px" width="70px"></a>
          <div class="container">
            <div class="topnav">
             <a href="/">Home</a>
              <a href="/news">News</a>
              <a href="/contact">Contact</a>
              <a href="/about">About</a>    
              <a href="/profile"><i class="glyphicon glyphicon-user"></i></a>
            </div><br><br><br>
            
          </div>
        </div>
    </section>
    <section id="aus">
        <center> <h1>The Fiery Wrath: Australia's Black Summer (2019-2020)</h1></center>
        <h3>*Australia's Black Summer* (2019-2020) was an unprecedented and devastating bushfire season that ravaged vast parts of the country, leaving behind destruction on an unimaginable scale. Starting in June 2019 and continuing until May 2020, these fires engulfed over 24 million hectares of land, fueled by a combination of extreme weather conditions, prolonged droughts, and record-breaking heatwaves. The fires destroyed thousands of homes, killed or displaced nearly 3 billion animals, and claimed the lives of 33 people, with an additional 450 succumbing to the effects of widespread smoke inhalation. </h3>
            <center><h2 style="font-weight: 600; font-size: 40px;" >Impact</h2></center>
        <h3><span style="font-weight: 700; font-size: larger;">Scale of Destruction : </span> The fires ravaged 186,000 square kilometers (46 million
            acres), destroyed over 3,500 homes, and claimed 33 lives. An estimated 3 billion
            animals were affected, with many endangered species teetering closer to extinction.
            </h3>
            <center><img src="../Images/beforeafter.jpg" alt=""></center>
            <h3><span style="font-weight: 700; font-size: larger;">Environmental Consequences: </span>  The fires unleashed vast amounts of carbon
                dioxide into the atmosphere, contributing further to global warming. The destruction
                of habitats has led to a significant loss of biodiversity, with entire ecosystems reduced
                to ash.
            </h3><center><img src="../Images/wildfire/fire-2.jpg" alt="" height="450px"></center>
            <h3><span style="font-weight: 700; font-size: larger;">Human Toll: </span> : Beyond the immediate loss of life and property, the psychological scars
                on communities are profound, with many still recovering from the trauma. Total estimated *450 additional deaths* linked to smoke exposure. The fires displaced thousands and destroyed over *3,000 homes*, deeply traumatizing affected communities. Many people faced long-term psychological effects, and volunteer firefighters endured immense stress, with some losing their lives in the line of duty. 
            </h3><center><img src="../Images/fire-10.jpeg" alt="" height="450px"></center>
    </section>
    <section id="footer" >
        <div class="container" >
          <div class="row" style="float: right; padding: 20px; ">
            <div class="col-sm-6">
              <div class="foot" >
                <a href="#" style=" text-decoration: none; color: #ccc;"><p>Main Page</p></a>
                <a href="#" style=" text-decoration: none; color: #ccc;"><p>Our Story</p></a>
                <a href="#" style=" text-decoration: none; color: #ccc;"><p>Blog</p></a>
                <a href="#" style=" text-decoration: none; color: #ccc;"><p>Contact Us</p></a>
                <a href="#" style=" text-decoration: none; color: #ccc;"><p>FAQ</p></a>
                <a href="#" style=" text-decoration: none; color: #ccc;"><p>Privacy Policy</p></a>
              </div></div>
              <div class="col-sm-6">
              <div class="foot">
                <a href="#" style=" text-decoration: none; color: #ccc;"><p>Main Page</p></a>
                <a href="#" style=" text-decoration: none; color: #ccc;"><p>Our Story</p></a>
                <a href="#" style=" text-decoration: none; color: #ccc;"><p>Blog</p></a>
                <a href="#" style=" text-decoration: none; color: #ccc;"><p>Contact Us</p></a>
                <a href="#" style=" text-decoration: none; color: #ccc;"><p>FAQ</p></a>
                <a href="#" style=" text-decoration: none; color: #ccc;"><p>Privacy Policy</p></a>
              </div>
            </div>
            <hr>
          </div>
          <hr>
        </div>
        <hr>
        <center><p>@ Copyright 2024 ConnectedEcos. All Rights Reserved</p></center>
      </section>
</body>
</html>